.pokedex {
    background-color: #c0392b;
    width: 98vw;
    height: 98vh;
    max-width: 1200px;
    max-height: 800px;
    padding: 2vh;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    padding: 0;
}

.top-bar {
    display: flex;
    padding: 1vh;
    justify-content: start;
}

.top-button {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    margin-right: 1vh;
}

.blue-button {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background-color: #3498db;
    border: 5px solid white;
    margin-right: 1vh;
}

.start-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #aa302f; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d14344;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.start-page-title {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.start-page-open-button {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-page-open-button:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.start-page-logo {
    width: 60%; 
    max-width: 600px;
    margin-bottom: 80px;
  }


/* Mobile Friendly */
@media (max-width: 768px) {
  .start-page-container {
    height: 80%;
  }
}